.tweet-area__boader
  -# = binding.pry
  = image_tag tweet.user.avatar, class: :avatar
  .tweet-area__item
    .tweet-area__item__username
      -# =binding.pry
      - if current_user == tweet.user
        %p #{tweet.user.name}
      - else
        = link_to "#{tweet.user.name}", user_path(tweet.user.id)
    = tweetText tweet.text
    .tweet-area__item__tags
      - tweet.hashtags.each do |tag|
        = link_to "##{tag.tag}", hashtag_path(tag.tag)



        -# =binding.pry
    = image_tag tweet.image, class: 'tweet-area__item__image'  if tweet.image.present?
  .tweet-area__action-area
    = fa_icon "comment-o"
    = fa_icon "retweet",{"aria-hidden" => "true"}
    -# = binding.pry
    - if getFavorite(tweet).nil?
      = button_to favorites_path() do
        = fa_icon "heart-o",{"aria-hidden" => "true"}
        -# = button_to favorites_path() placeholder "#{fa_icon "heart-o",{"aria-hidden" => "true"}}"
    - else
      = fa_icon "heart icon-red",{"aria-hidden" => "true"}
