.tweet-area__boader  
  = image_tag tweet.user.avatar, class: :avatar
  .tweet-area__item
    .tweet-area__item__username
     
      = link_to "#{tweet.user.name}", user_path(tweet.user.id)
    = tweetText tweet.text
    .tweet-area__item__tags
      - tweet.hashtags.each do |tag|
        = link_to "##{tag.tag}", hashtag_path(tag.tag)
    = image_tag tweet.image, class: 'tweet-area__item__image'  if tweet.image.present?

